<div id="layout" class="pure-g">
  

  <div class="sidebar pure-u-1 pure-u-med-1-4">

      <h1 class="movie-tittle"><%= @people.name %></h1>
      <div class="srodeczek">      <%= image_tag("#{@configuration.base_url}w154#{@people.profile_path}") if @people.profile_path %></div>
    <div class="header">
      <hgroup>
      <h2 class="brand-tagline">
        <table class="pure-table">
          <tr><td>Born:</td><td> <%= @people.place_of_birth %></td></tr>
          <tr><td>Birthday:</td><td> <%= @people.birthday %></td></tr>
        </table>
      </h2>
      </hgroup>
    </div>
  </div>

  <div class="content pure-u-1 pure-u-med-3-4">
    <div class="posts">
        <h1 class="content-subhead">  
          Biography
        </h1>
        <section class="post">
          <div class="post-description">
           <div>
            <%= @people.biography %>
          </div> 
          </div>
        </section>
    </div>

    <div class="posts">
        <h1 class="content-subhead">  
          Homepage
        </h1>
        <section class="post">
          <div class="post-description">
           <div>
            <%= link_to @people.homepage, @people.homepage %>
          </div> 
          </div>
        </section>
    </div>

    <div class="posts">
        <h1 class="content-subhead">  
          Known for
        </h1>
        <section class="post">
          <div class="post-description">
           <div>
                  <% @movies['cast'].first(7).each do |movie| %>
        <%= link_to movie_path(movie['id']) do %>
          <%= image_tag("#{@configuration.base_url}w92#{movie['poster_path']}") if movie['poster_path'] %>
        <% end %>
      <% end %>
          </div> 
          </div>
        </section>
    </div>

